<div layout="column" class="center-content">
	<div ng-repeat="month in filteredMonths | orderBy:predicate:reverse">
		<h3 class="icon-off">{{month}}</h3>
		<div class="md-whiteframe-z1" layout-align="center center">
			<md-list>
		      <md-list-item ng-repeat="item in transactions | getTransactionsByMonth: month | orderBy:['-date', '-order']">
    	      		<md-button aria-label="Transaction Date" class="md-fab md-mini md-primary">
	          			<!-- <div class="small-circle" ng-click="editTransaction($event, item)"> -->
							{{ item.date | date:'d' }}
						<!-- </div> -->
					</md-button>
	            	<p>{{ item.description }}</p>
	
	            	<span ng-if="item.type === 'W'">-</span>
	            	<span ng-if="item.type === 'D'">+</span>
	            	{{ item.amount | currency }}
	
	            	{{ balances[item.$id] | currency }}
	
	            	<md-button class="md-icon-button" aria-label="Setup Recurring Item" ng-click="setRecurring($event)">
	            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_query_builder_24px.svg" class="icon-off"></md-icon>
	            	</md-button>
	            	<md-button class="md-icon-button" aria-label="Mark as Complete" ng-click="markComplete(item)">
	            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_done_24px.svg" class="icon-off" ng-class="{green: item.complete}"></md-icon>
	            	</md-button>
	            	<md-button class="md-icon-button" aria-label="Delete Transaction" ng-click="removeTransaction(item)">
	            		<md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_close_24px.svg" class="icon-off"></md-icon>
	            	</md-button>
		        <md-divider ng-if="!$last"></md-divider>
		      </md-list-item>
		    </md-list>
		</div>
	</div>
	<div class="fab-button">
      	<md-button class="md-fab" aria-label="Add" style="margin: 20px;" ng-click="addNewTransaction($event)">
        	<md-icon md-svg-src="bower_components/material-design-icons/content/svg/production/ic_add_24px.svg"></md-icon>
      	</md-button>
  	</div>
</div>