<md-dialog aria-label="Add Transaction" flex="33">
	<md-content>
		<div layout>
			<md-input-container flex>
				<label>Date</label>
				<input ng-model="newTransaction.date">
			</md-input-container>
			<md-input-container flex>
	    		<label>Amount</label>
				<input ng-model="newTransaction.amount">
			</md-input-container>
		</div>
		<md-input-container>
			<label>Description</label>
			<input ng-model="newTransaction.description">
		</md-input-container>
		
		<md-select placeholder="Type" ng-model="newTransaction.type">
			<md-option value="W">Withdrawal</md-option>
			<md-option value="D">Deposit</md-option>
		</md-select>
		<md-checkbox ng-model="newTransaction.complete" aria-label="">
			Complete
		</md-checkbox>
	</md-content>
	<div class="md-actions">
		<md-button ng-click="cancelDialog()">
			Cancel
		</md-button>
		<md-button ng-click="addTransaction()">
			Add
		</md-button>
	</div>
</md-dialog>