<md-content flex class="md-padding">
	<div layout="column" class="center-content">
		<h3 class="icon-off">March</h3>
		<div class="md-whiteframe-z1" layout-align="center center">
			<md-list layout-fill>
		      <md-item>
		        <md-item-content>
		          <div class="md-tile-content">
		            <div layout="row">
			          	<div flex="5">
			          		<md-button>
			          			<div class="small-circle">
									24
								</div>
							</md-button>
			          	</div>
			            <div flex class="text-pad">
			            	<div>Borrow from Sami</div>
			            </div>
			            <div flex="10" class="text-pad">
			            	+ $1000.00
			            </div>
			            <div flex="10" class="text-pad">
			            	$2000.00
			            </div>
			            <div>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_query_builder_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_done_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_more_vert_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            </div>
			        </div>
		          </div>
		        </md-item-content>
		        <md-divider ng-if="!$last"></md-divider>
		      </md-item>
		      <md-item>
		        <md-item-content>
		          <div class="md-tile-content">
		            <div layout="row">
			          	<div flex="5">
			          		<md-button>
				          		<div class="small-circle">
									25
								</div>
							</md-button>
			          	</div>
			            <div flex class="text-pad">
			            	Pay Rent
			            </div>
			            <div flex="10" class="text-pad">
			            	- $1500.00
			            </div>
			            <div flex="10" class="text-pad">
			            	$500.00
			            </div>
			            <div>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_query_builder_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_done_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_more_vert_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            </div>
			        </div>
		          </div>
		        </md-item-content>
		        <md-divider ng-if="!$last"></md-divider>
		      </md-item>
		      <md-item>
		        <md-item-content>
		          <div class="md-tile-content">
		            <div layout="row">
			          	<div flex="5">
			          		<md-button>
				          		<div class="small-circle">
									27
								</div>
							</md-button>
			          	</div>
			            <div flex class="text-pad">Borrow from Sami</div>
			            <div flex="10" class="text-pad">
			            	+ $1000.00
			            </div>
			            <div flex="10" class="text-pad">
			            	$1500.00
			            </div>
			            <div>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_query_builder_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_done_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_more_vert_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            </div>
			        </div>
		          </div>
		        </md-item-content>
		        <md-divider ng-if="!$last"></md-divider>
		      </md-item>
		    </md-list>
		</div>
		<h3 class="icon-off">April</h3>
		<div class="md-whiteframe-z1" layout-align="center center">
			<md-list layout-fill>
		      <md-item>
		        <md-item-content>
		          <div class="md-tile-content">
		            <div layout="row">
			          	<div flex="5">
			          		<md-button>
				          		<div class="small-circle">
									1
								</div>
							</md-button>
			          	</div>
			            <div flex class="text-pad">Condo Fee's</div>
			            <div flex="10" class="text-pad">
			            	+ $1000.00
			            </div>
			            <div flex="10" class="text-pad">
			            	$1500.00
			            </div>
			            <div>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_query_builder_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_done_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_more_vert_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            </div>
			        </div>
		          </div>
		        </md-item-content>
		        <md-divider ng-if="!$last"></md-divider>
		      </md-item>
		      <md-item>
		        <md-item-content>
		          <div class="md-tile-content">
		            <div layout="row">
			          	<div flex="5">
			          		<md-button>
				          		<div class="small-circle">
									1
								</div>
							</md-button>
			          	</div>
			            <div flex class="text-pad">Line of Credit</div>
			            <div flex="10" class="text-pad">
			            	+ $1000.00
			            </div>
			            <div flex="10" class="text-pad">
			            	$1500.00
			            </div>
			            <div>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_query_builder_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/action/svg/production/ic_done_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            	<md-button>
			            		<md-icon md-svg-src="bower_components/material-design-icons/navigation/svg/production/ic_more_vert_24px.svg" class="icon-off"></md-icon>
			            	</md-button>
			            </div>
			        </div>
		          </div>
		        </md-item-content>
		        <md-divider ng-if="!$last"></md-divider>
		      </md-item>
		    </md-list>
		</div>
	</div>
</md-content>
